.welcome{
	position: absolute;
	top: 10px;
	right: 10px;
	
}
.userBlog{
	position: absolute;
	float: left;
	right: 0px;
	text-decoration: none;
	width: auto;
	padding: 15px 250px;
	margin: -36px 0px;
	text-decoration: none;
}
a.userBlog:hover{
	background : #6a5750;
}