.logoFont{
	font-size: 24px;
	font-family: arial;
	font-weight: bold;
	color: #ffffff;
}
.postFont{
	font-size: 20px;
	font-family: arial;
	font-weight: bold;
	color: black;
}
.postTitle{
	font-size: 20px;
	font-family: arial;
	font-weight: bold;
	color: white;
	text-align: left;
	padding: 0px 20px;
}
a.post{
	font-size: 20px;
	font-family: arial;
	font-weight: bold;
	color: white;
	text-align: left;
	padding: 0px 20px;
	text-decoration: none;
	position: relative;
	left: 20px;
}
div.post:hover{
	color : red ;
}
.successRegister{
    font-family: arial;
  }