.top{
	position: fixed;
    width: 100%;
    z-index: 1;
    right: 0;
    top: 0;
  	height: 70px;
    background: #0a2e52;
}

.bar{
	width: 100%;
	width:auto;border:none;
	outline:none;
	display:block;
	padding: 12px 0px;

}

a.logoBox:hover{	
	background : #afdef0;
}
.logoBox{
	position: relative;
	text-decoration: none;
	width: auto;
	padding: 30px;
	margin: 10px 0px;
}
.user{
	position: absolute;
	float: left;
	right: 0px;
	text-decoration: none;
	width: auto;
	padding: 15px;
	margin: -36px 0px;
	text-decoration: none;
}
a.user:hover{
	background : #b5a397;
}

.singinButton{
	background-color: #afdef0; 
    border: none;
    color: white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: arial;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px

}
.inputSingin{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 800px;
    height: 10px;

    position: absolute;
    right: 10px;
    top: -5px;
}
.registerBox{
	position: absolute;
	text-align: center;
    color: white;
    text-shadow: 2px 2px 8px #000000;
    font-family: arial;
	top: 80px;
	right: 10px;
	width: 750px;
	height: 750px;
	font-size: 20px;

}
.inputSingup{
	background-color: #ccccff;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    width: 420px;
    height: 10px;
    margin: auto auto;

}
.singupButton{
	background-color: #b6b6b6; 
    border: none;
    color: white;
    padding: 15px;
   
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: arial;
    
}