.box{
	position: relative;
	top: -10px;
	width: 75%;
	background: #99a2e3;
	margin: auto auto;
	border-radius: 20px;
}
.boxPost {
    position: relative;
    top: -10px;
    width: 75%;
    height: 650px;
    background: #99a2e3;
    margin: auto auto;
    border-radius: 20px;
}
.title{
	width: 97%;
	height: 30px;
}
.details{
	width: 97%;
	height: 500px;
}
.detailsPost{
	width: 97%;
	height: 400px;
}
.postButton{
	background-color: #0a2e5296;
    border: none;
    color: white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: arial;
    border-radius: 5px;
}
.titlePost{
	background: #99a2e3;
	border: none;
    margin: 40px;
    padding: 20px;
    text-align: left;
    font-size: 33px;
    font-family: arial;
    border-radius: 10px;
}
.titlePost1 {
    background: #99a2e3;
    border: none;
    margin: 1px;
    padding: 15px 10px;
    text-align: left;
    font-size: 27px;
    font-family: arial;
    border-radius: 10px;
}
input.titlePost:hover{
	color: white;
}
.topic{
	width: 98%;
	height: 100px;
	position: absolute;
	left: 29px;
	
	font-size: 25px;
    font-family: arial;
    color: yellow;
}
.detailPost{
	width: 95%;
	height: 100px;
	position: relative;
	left: 29px;
	top: 110px;
	font-size: 20px;
    font-family: arial;
    word-wrap: break-word;
    display: block;
    color: white;
}
.boxComment{
	position: relative;
    top: 5px;
    width: 75%;
    height: 140px;
    background: #0a2e52b8;
    margin: auto auto;
    border-radius: 20px;


}
.comment{
	position: relative;
	width: 98%;
	height: 100px;
}
.commentPost{
	height: 50px;
    background: white;
    border: solid 1px #0a2e52;
    font-family: arial;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px 10px 10px 10px;
}
.boxCom{
	position: relative;
	top: -10px;
	margin: auto 200px;
}
.boxComPost{
	position: relative;
    top: -10px;
    width: 75%;
    height: 330px;
    background: #99a2e3;
    margin: auto auto;
    border-radius: 10px;
}
.titleP{
	width: 97%;
    height: 100px;
}